<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="btn" style="color:white;" (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
        <mat-icon>train</mat-icon><span>RailRoad</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side" class="left-sidenav">
        <mat-list>
            <a mat-list-item routerLink="/homepage" class="sidenav-link"><mat-icon>home</mat-icon><span>Accueil</span></a>
            <a mat-list-item routerLink="/card" class="sidenav-link"><mat-icon>card_travel</mat-icon><span>Cartes à vendre</span></a>
            <a mat-list-item routerLink="/ticket" class="sidenav-link"><mat-icon>card_giftcard</mat-icon><span>Tickets à vendre</span></a>
            <a mat-list-item routerLink="/about" class="sidenav-link"><mat-icon>help_outline</mat-icon><span>About</span></a>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <body>
            <div class="card-container">
            </div>
        </body>
    </mat-sidenav-content>
  </mat-sidenav-container>
