.example-spacer {
    flex: 1 1 auto;
  }
  
  mat-sidenav-container {
    height: calc(250vh - 160vh);
  }
  
  .left-sidenav {
    width: 200px;
    background-color: white;
  }
  
  .sidenav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .sidenav-link mat-icon {
    margin-right: 10px;
  }
  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .form-container mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-container button {
    width: 100%;
  }
  
